node_modules
js/00_global/
.vscode
*.bat
inline-js/
dist/
20_ui/
docs/
memo.md
21_XElementPool.js
01_XFlash.js
04_backend/
07_XHTMLParser.js
08_XCanvasRenderingContext2D.js
05_XEmbed.js
targetFiles.js
canUse.js
createCompatData.js